h1 {
    color: white;
    background-color: rgb(30, 85, 148);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

h2 {
    color: rgb(30, 85, 148);
    border-bottom: 1px solid rgb(30, 85, 148);
    font-size: 1.2rem;
    padding: 10px;
}

.container {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

#profile-image {
    text-align: center;
}

#profile-image .image {
    width: 100px;
}