<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>プロフィール</title>
  <link rel="stylesheet" href="./css/contents.css">
</head>

<body>

  <h2>text-align</h2>
  <div class="contents contents-left">コンテンツ（左寄せ）</div>
  <div class="contents contents-center">コンテンツ（中央寄せ）</div>
  <div class="contents contents-right">コンテンツ（右寄せ）</div>

  <h2>vertical-align</h2>
  <div>
    <span class="text">ベース<span class="top">top</span></span>
  </div>
  <div>
    <span class="text">ベース<span class="text-top">text-top</span></span>
  </div>
  <div>
    <span class="text">ベース<span class="middle">middle</span></span>
  </div>
  <div>
    <span class="text">ベース<span class="baseline">baseline</span></span>
  </div>
  <div>
    <span class="text">ベース<span class="text-bottom">text-bottom</span></span>
  </div>
  <div>
    <span class="text">ベース<span class="bottom">bottom</span></span>
  </div>
  <div>
    <span class="text">ベース<span class="sub">sub</span></span>
  </div>
  <div>
    <span class="text">ベース<span class="super">super</span></span>
  </div>

  <h2>擬似要素・擬似クラス</h2>

  <h3>タイトル</h3>
  <div class="first-letter">
    <p>この文章は、first-letterで先頭の文字を大きくしています。</p>
  </div>

</body>

</html>