<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="./css/float.css">
</head>

<body>
  <section class="box color1">
    Boxコンテンツ
  </section> 
  <section class="box color2">
    Boxコンテンツ
  </section> 
  <section class="box color3">
    Boxコンテンツ
  </section> 
  <section class="box color4">
    Boxコンテンツ
  </section> 

</body>

</html>