body {
    margin: 0;
    padding: 0;
}

.static-position {
    position: static;
    background: lightblue;
    padding: 10px;
}

.relative-position {
    position: relative;
    top: 10px;
    left: 0px;
    background: lightcoral;
    padding: 10px;
}

.relative-parent {
    position: relative;
    top: 10px;
    left: 0px;
    background: lightslategray;
    padding: 10px;
}

.absolute-position {
    position: absolute;
    top: 0;
    left: 100px;
    background: lightseagreen;
    padding: 10px;
}

.absolute-menu {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 0;
    width: 100%;
    text-align: right;
}