a {
    color: #58aeed;
    text-decoration: none;
}

#side-menu {
    padding: 20px;
}

#side-menu a {
    font-size: 16px;
    color: #303030;
}

.nav {
    padding: 10px;
    text-align: center;
    font-size: 150%;
    color: #ffffff;
}

.tweet {
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
}

.twitter-logo {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    display: block;
    background: url(../svg/twitter-logo.svg) center no-repeat;
}

.tweet-img {
    padding: 0 5px;
    margin: 0;
    float: left;
}

.tweet-img img {
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.tweet-body {
    padding: 5px;
}

#side-menu svg {
    height: 2rem;
    margin: 10px;
}

.svg-tweet svg {
    color: rgb(29, 155, 240);
}

#side-menu .icon {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
}

.tweet-menu .icon {
    display: block;
    float: left;
    padding-left: 20px;
    width: 100px;
    height: 14px;
    color: #8a9aa4;
}

.icon-home {
    background: url("../svg/home.svg") left no-repeat;
}

.icon-search {
    background: url("../svg/search.svg") left no-repeat;
}

.icon-profile {
    background: url("../svg/profile.svg") left no-repeat;
}

.icon-bubble {
    background: url("../svg/bubble.svg") left no-repeat;
}

.icon-heart {
    background: url("../svg/heart.svg") left no-repeat;
}

.icon-loop {
    background: url("../svg/loop.svg") left no-repeat;
}

.icon-trash {
    background: url("../svg/trash.svg") left no-repeat;
}

.icon-logout {
    background: url("../svg/logout.svg") left no-repeat;
}

.profile {
    padding: 1rem;
}

.profile img {
    border: 5px solid gray;
    border-radius: 50%;
    width: 100px;
}

.profile .member-name {
    font-size: 30px;
}


.input-error {
    border: 1px solid #ff0000;
}

.error-message {
    color: #ff0000;
}